altgraph==0.17.4
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-Cors==5.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.1
Nuitka==2.4.8
ordered-set==4.1.0
packaging==24.1
pefile==2024.8.26
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
PyPDF2==3.0.1
pywin32-ctypes==0.2.3
setuptools==75.1.0
Werkzeug==3.0.4
zstandard==0.23.0
gunicorn==23.0.0